# Project exclude paths
/example4/target/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store
*.zip
spring-3.1.2.zip
HELP.md
target/
#!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
